iac/asl.json
{
  "Comment": "Daily workflow for sending out readings",
  "StartAt": "GetTodaysReading",
  "States": {
    "GetTodaysReading": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint.$": "$.detail.reading_endpoint",
        "Method": "GET",
        "Authentication": {
          "ConnectionArn": "${Connection}"
        },
        "Headers": {
          "content-type": "application/json"
        },
        "QueryParameters": {
          "date.$": "States.ArrayGetItem(States.StringSplit($.time, 'T'), 0)"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ],
      "ResultSelector": {
        "response.$": "$.ResponseBody"
      },
      "ResultPath": "$.reading",
      "OutputPath": "$",
      "Next": "GetUsersByPlan"
    },
    "GetUsersByPlan": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint.$": "$.detail.user_endpoint",
        "Method": "GET",
        "Authentication": {
          "ConnectionArn": "${Connection}"
        },
        "Headers": {
          "content-type": "application/json"
        },
        "QueryParameters": {
          "plan_id.$": "$.detail.plan_id"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ],
      "ResultSelector": {
        "response.$": "$.ResponseBody",
        "emails.$": "$.ResponseBody[*].email"
      },
      "ResultPath": "$.users",
      "OutputPath": "$",
      "Next": "SendChoice"
    },
    "SendChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.detail.send_type",
          "StringEquals": "email",
          "Next": "MapEmail"
        }
      ],
      "Default": "SendNotification"
    },
    "MapEmail": {
      "Type": "Map",
      "ItemsPath": "$.users.emails",
      "ItemSelector": {
        "email.$": "States.Array($$.Map.Item.Value)",
        "date.$": "States.ArrayGetItem(States.StringSplit($.time, 'T'), 0)",
        "reading.$": "$.reading.response.body"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "SendEmail",
        "States": {
          "SendEmail": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:sesv2:sendEmail",
            "Parameters": {
              "Content": {
                "Simple": {
                  "Subject": {
                    "Charset": "UTF-8",
                    "Data.$": "States.Format('Daily Reading for {}', $.date)"
                  },
                  "Body": {
                    "Html": {
                      "Charset": "UTF-8",
                      "Data.$": "$.reading"
                    }
                  }
                }
              },
              "Destination": {
                "ToAddresses.$": "$.email"
              },
              "FromEmailAddress": "reading@mail.heeki.cloud",
              "ReplyToAddresses": ["reading@mail.heeki.cloud"]
            },
            "ResultSelector": {
              "message_id.$": "$.MessageId"
            },
            "ResultPath": "$.publish_result",
            "OutputPath": "$",
            "Next": "CleanUp"
          },
          "CleanUp": {
            "Type": "Pass",
            "Parameters": {
              "date.$": "$.date",
              "email.$": "$.email[0]",
              "message_id.$": "$.publish_result.message_id"
            },
            "End": true
          }
        }
      },
      "End": true
    },
    "SendNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${Topic}",
        "Subject.$": "States.Format('Daily Reading on {}', States.ArrayGetItem(States.StringSplit($.time, 'T'), 0))",
        "Message.$": "$.reading.response.body"
      },
      "ResultSelector": {
        "message_id.$": "$.MessageId",
        "request_id.$": "$.SdkResponseMetadata.RequestId"
      },
      "ResultPath": "$.publish_result",
      "OutputPath": "$",
      "End": true
    }
  }
}